# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Django
*.log
staticfiles/
media/
.env
.env.local
.env.*

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
